<!-- Header -->
<header id="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- <div class="navbar-header">
                <div class="logo">
                    <a><img src="assets/images/logo.png" alt="image" /></a>
                </div> -->
            <!-- <div id="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i></div>
        </div> -->
            <div class="collapse navbar-collapse" id="">

                <div class="submit_listing ml-auto">
                    <a class="btn outline-btn"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- /Header -->