<!DOCTYPE html>
<div id="titlebar">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Master</h2>
            <!-- Listings -->
            <div class="col-lg-12 col-md-12">
                <form [formGroup]="masteredit" (ngSubmit)="onsubmit()">
                    <div class="add_listing_info">
                        <div class="form-group">
                            <label class="label-title">Test Code</label>
                            <input type="text" formControlName="testCode" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="label-title">Test Name</label>
                            <input type="text" formControlName="testName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="label-title">MRP</label>
                            <input type="text" formControlName="mrp" class="form-control">
                        </div>

                        <div class="form-group">
                            <a routerLink="/dashboard/masterlist"> <input type="submit" value="Update " class="btn" /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>