<section class="primary-bg">
    <div class="container">
        <div id="login_signup">
            <div class="form_wrap_m">
                <div class="white_box">
                    <h3>Forget Password</h3>
                    <form [formGroup]="forgetPassword" (ngSubmit)='onSubmit()'>
                        <div class="form-group">
                            <input type="email" class="form-control" formControlName="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block" value="Submit">
                        </div>
                    </form>
                    <p>Back to <a routerLink="/login">Sign In</a></p>
                    <!-- <div class="back_home"><a href="index.html" class="btn outline-btn btn-sm"><i class="fa fa-angle-double-left"></i> Back to Home</a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>